* {
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Code', monospace;
}

nav {
    top: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
}

nav.open {
    background-color: black;
}

nav.open div {
    color: rgb(187, 13, 13);
    border-bottom: 1px solid white;
}

nav.open ul {
    height: auto;
}

.nav-dropdown-menu-wrapper {
    display: block;
    width: 100%;
    color: white;
    height: 40px;
    font-size: 2em;
    padding-bottom: 10px;
}

.nav-dropdown-menu {
    padding-right: 10px;
    float: right;
}

nav ul {
    width: 100%;
    overflow: hidden;
    height: 0;
}

nav ul li {
    padding: 10px;
    float: none;
    text-align: left;
    border-bottom: 1px solid white;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

body {
    background-size: 100% 100%;
    line-height: 1.6;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width: 100%;
    height: 100vh;
    background-color: black;
}

.about-container {
    width: 80%;
    height: 100%;
}

.about-container h1,p {
    color: white;
}

.about-container h1 {
    width: 100%;
    margin: 30px 0px;
    border-bottom: 2px solid white;
}

.about-content {
    justify-content: center;
    align-items: center;
}

.about-content p {
    width: 100%;
    font-size: 1.6vh;   
    height: 100%;
}

.about-content img {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.contact-form {
    transform: translate(0%, -75%);
    width: 80%;
}

.contact-form input {
    margin-bottom: 20px;
}

.contact-form input,textarea{
    width: 100%;
    background:rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid grey;
    color: white;
}

.contact-form textarea {
    resize: none;
    height: 100%;
}

.contact-form button {
    transform: translate(0%, 90%);
    height: 15%;
    width: 100%;
    border: 2px solid white;
    color: white;
    background:black;
    font-size: 20px;
}

.contact-form button:hover {
    color: rgb(187, 13, 13);;
    border: 2px solid rgb(187, 13, 13);;
}

.contact-form-h1-wrapper {
    padding-bottom: 10px;
    margin-bottom: 40px;
    width: 100%;
    border-bottom: 2px solid white;

}

.contact-form h1 {
    color: white;
}

.footer-wrapper {
    position: relative;
}

footer {
    position: absolute;
    background-color: black;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    border-top: 3px solid white;
    text-align: center;
}

footer img {
    margin-top: 50px;
    margin-right: 50px;
    width: 75px;
    height: 75px;
}

.media {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7.5%;
}

.media a {
    color: inherit;
}

.media li {
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    font-size: 20px;
    padding: 10px 15px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.5s;
}

.media li:hover {
    color: rgb(187, 13, 13);
    border: 1px solid rgb(187, 13, 13);
    transition: 0.5s;
}

@media only screen and (min-width: 768px) {
    .about-content img {
        width: 75%;
    }

    .media li {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    .about-content img {
        width: 65%;
    }
}